<div class="container">
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Text to search"
      [(ngModel)]="searchValue"
    />
    <button class="search-button" (click)="search()">Search</button>
  </div>
  <div class="add-course-container">
    <button class="add-course-button"><i class="fas fa-plus"></i> Add course</button>
  </div>
  <div class="courses-container">
    <div *ngIf="!courses.length" style="text-align: center">No data, feel free to add new courses</div>
    <app-course-item
      *ngFor="let course of courses"
      [courseItem]="course"
      (onDelete)="delete($event)"
    ></app-course-item>
  </div>
  <div class="load-courses-container">
    <button class="load-more-button" (click)="loadMore()">load more</button>
  </div>
</div>
