<div class="container">
  <h2 class="title">{{ this.isEdit() ? 'Edit course' : 'New course' }}</h2>
  <form [formGroup]="form" (submit)="save()">
    <div class="label">
      <span class="name">Title:</span>
      <span class="errorMsg" *ngIf="title.errors && title.touched">enter 1-50 letters</span>
      <span class="validation">*required</span>
    </div>
    <input
      class="input"
      type="text"
      placeholder="Text input"
      formControlName="title"
      [ngClass]="{
        error: title.status !== 'VALID' && title.touched
      }"
    />
    <div class="label">
      <span class="name">Decription:</span>
      <span class="errorMsg" *ngIf="description.errors && description.touched"
        >enter 1-500 letters</span
      >
      <span class="validation">*required</span>
    </div>
    <textarea
      class="input"
      rows="5"
      placeholder="Add decsription"
      formControlName="description"
      [ngClass]="{
        error: description.status !== 'VALID' && description.touched
      }"
    ></textarea>
    <div class="label small">
      <span class="name">Duration:</span>
      <span class="validation">*required</span>
    </div>
    <div class="duration">
      <input
        class="input small"
        type="number"
        placeholder="minutes"
        formControlName="duration"
        [ngClass]="{
          error: duration.status !== 'VALID' && duration.touched
        }"
      />
      <span *ngIf="this.form.value.duration">{{ this.form.value.duration | duration }}</span>
      <span class="errorMsg" *ngIf="duration.errors && duration.touched">requred field</span>
    </div>
    <div class="label small">
      <span class="name">Date:</span>
      <span class="validation">*required</span>
    </div>
    <input
      class="input small"
      type="date"
      formControlName="date"
      [ngClass]="{
        error: date.status !== 'VALID' && date.touched
      }"
    />
    <span class="errorMsg" *ngIf="date.errors && date.touched">requred field</span>

    <div class="label medium">
      <span class="name">Authors:</span>
      <span class="validation">*required</span>
    </div>
    <input class="input medium" type="text" placeholder="Start typing" />
    <div class="buttons">
      <button (click)="cancel($event)" class="button cancelButton">Cancel</button>
      <button type="submit" class="button saveButton" [disabled]="!isValid()">Save</button>
    </div>
  </form>
</div>
