:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
  display: flex;
  margin-bottom: 60px;
}
