<div
  class="container"
  [appCourseBorder]="courseItem.date"
  [ngClass]="{ top: courseItem.isTopRated }"
>
  <div class="text">
    <div class="header">
      <div class="title">
        {{ courseItem.name | uppercase }}<i *ngIf="courseItem.isTopRated" class="fas fa-star"></i>
      </div>
      <div class="info">
        <span class="info-item"> <i class="fal fa-clock"></i>{{ courseItem.length | duration }} </span>
        <span class="info-item">
          <i class="fal fa-calendar-alt"></i>{{ courseItem.date | date: 'd MMM, y' }}
        </span>
      </div>
    </div>
    <div class="description">{{ courseItem.description }}</div>
  </div>
  <div class="buttons">
    <button class="edit-button" (click)="editCourse(courseItem.id)"><i class="fas fa-pen"></i> Edit</button>
    <button class="delete-button" (click)="delete()"><i class="fas fa-trash"></i> Delete</button>
  </div>
</div>
