<div class="container">
  <h3 class="title">Login</h3>
  <div class="label">
    <span class="name">E-mail:</span>
    <span class="validation">*required</span>
  </div>
  <input class="input" type="email" placeholder="Enter e-mail" [(ngModel)]="userMail"/>
  <div class="label">
    <span class="name">Password:</span>
    <span class="validation">*required</span>
  </div>
  <input class="input" type="password" placeholder="Enter password" [(ngModel)]="userPass"/>
  <div class="footer">
    <a class="forgotLink">Forgot password?</a>
    <button (click)="login()" class="loginButton">Login</button>
  </div>
</div>