:host {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
i{
  margin: 0 5px 0 15px;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #fff;
  background: none;
}